<% provide(:title, "Categories") %>
<div class="main-wrapper">
  <%= render 'shared/light_section_categories', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <div class="panel panel-default">
            <div class="panel-heading">商品カテゴリー</div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <ul class="nav navbar-nav side-nav">
                  <% @taxonomies.each do |taxonomy| %>
                    <li>
                      <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
                      <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
                        <% taxonomy.taxons.each do |taxon| %>
                          <% if taxon.products.count > 0 %>
                            <li>
                              <%= link_to potepan_category_path(taxon.id) do %>
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <%= taxon.name%>　(<%= taxon.products.count %>)
                              <% end %>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <%= render 'shared/filter_categories'%>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <div class="col-xs-6">
              <select name="guiest_id1" id="guiest_id1" class="select-drop">
                <option value="0">並び替え</option>
                <option value="1">人気順</option>
                <option value="2">安い順</option>
                <option value="3">新着順</option>
                <option value="3">高い順</option>
              </select>
            </div>
            <div class="col-xs-6">
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
              </div>
            </div>
          </div>
          <%= render 'shared/show_products_categories', product: @product, taxon: @taxon %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/light_section_categories_partners' %>
</div>
