<!DOCTYPE html>
<html>
  <head>
    <title><%= html_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <!--HEADER-->
    <%= render "shared/header"%>
    <%= yield %>
    <!--FOOTER-->
    <%= render "shared/footer" %>
    <!--MODAL-->
    <%= render "shared/modal" %>
  </body>
</html>
